/node_modules

# misc
.DS_Store
.env
npm-debug.log*
webpack.config.js
.babelrc
.git/
.gitignore
screenshots/
.eslintrc.json
.snyk
.prettierrc
.editorconfig
.eslintignore


# examples
/example

# src
/src
/example

/coverage
/tests
jest.config.js

.circleci/
