.react-chat-frame {
  border: 0px;
  background-color: transparent;
  /*pointer-events: none;*/
  z-index: 2147483639;
  position: fixed;
  bottom: 0px;
  /* width: 280px; */
  /*height: 224px;*/
  overflow: hidden;
  opacity: 1;
  max-width: 100%;
  right: 0px;
  max-height: 100%;
}

.react-chat-frame-wrapper {
  /* user-select: all; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
  height: 100%;
  /* width: 100%; */
  /* max-width: 100%; */
  max-height: 100%;
  margin: 20px;
  /* margin-bottom: 20px; */
}

.react-chat-frame-custom {
  user-select: none;
  max-width: 100%;
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
}

.react-chat-frame-icon-container {
  width: 60px;
  height: 60px;
  border-radius: 25%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  margin: 20px 0px 0px 20px;
  transition: all 0.3s;
  pointer-events: all;
  cursor: pointer;
  background: rgb(0, 108, 255);
  fill: white;
}

.react-chat-frame-icon-container:hover {
  opacity: .8!important;
}

.react-chat-frame-icon {
  margin: 0 auto;
  display: block;
}

.react-chat-close-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  fill: rgba(33, 37, 41, 0.45);
  cursor: pointer;
}
